body {
	width: 100%;
	height: 100%; 
	padding: 20px 0 0 0;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAABOCAYAAAH5rRCLAAAAAXNSR0IArs4c6QAAAbRJREFUeAHt20FqwlAUhWFT3EaHDruBzrr/9UjtwFpSnOSAyd/Dgwb8nV1y7kvy5UYkxOn09nG7XL4OW5/jHLhev7dyh5fNxD1gcFVqej2931YT941HclXmrOCrnJhnmu+Z8/lzdbW/bMR7pou6IJV6nNPwsQ3dgr/DyIL4e44sNvTquhghX2Y0W3qQSjOitMxotvQg1VCz4b+WyBnQzNAzpTulOQ+OSmVOuRShtXJUKnPKpQitlaNSmVMuRWitHJXKnHIpQutdyw19VENFaG7oox+6U5rb9WX14OhlzJxyKUJr5ahU5pRLEVorR6Uyp1yK0Fo5KpU55VKE1spRqcwplyK0Vo5KZU65FKG1clQqc8qlCK2Vo1KZUy5FaK0clcqccilC6983csg7/3TBZ8nh/0A8Cwg9z13fq/Qk/iMnXKkunHClQNnmxAlXCpRtTpxwpUDZ5sQJVwqUbU6ccKVA2ebECVcKlG1OnHClQNnmxAlXCpRtTpxwpUDZ5sQJVwqUbU6ccKVA2ebECVcKlG1OnHClQNnmxAlXCpRtTpxwpUDZ5sQJVwqUbU6ccKVA2ebElXA/AjUmT5d+OHAAAAAASUVORK5CYII=);
}

ul,
li,
img {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a:hover,
a,
div,
li {
	color: #90aecb;
}
#head{
	padding-top: 20px;
}
.mui-bar {
	background: #fff;
	z-index: 9999;
	background: rgba(100, 100, 100, 0.1) none repeat scroll 0 0;
	filter: Alpha(opacity=10);
}

.mui-pull-caption {
	color: #777;
}

.mui-bar-nav {
	box-shadow: none;
	-webkit-box-shadow: none;
}

.mui-bar-nav~.mui-content {
	padding-top: 64px;
	background: transparent;
}

.mui-bar-red {
	background: #bf1931;
}

.mui-bar-red .mui-title {
	color: #fff !important;
}

.mui-bar-red a {
	color: #fff !important;
}

.mui-content {
	width: 100%;
	padding: 0px;
	padding-top;
	60px;
	font-size: 14px;
	vertical-align: middle;
	background: transparent;
}

.mui-btn-app {
	padding: 10px 15px;
	background-color: #c4b26f;
	color: #fff;
	font-size: 16px;
	border: solid 0px #c4b26f;
}

.mui-btn-appx {
	background-color: #c4b26f;
	color: #fff;
	border: solid 0px #c4b26f;
}

.mui-dtpicker-header button:last-child {
	background: #c4b26f none repeat scroll 0 0;
	border: 1px solid #c4b26f;
	float: right;
}

.mui-slider-indicator {
	text-align: right;
	padding-right: 20px;
}

.mui-slider-indicator .mui-indicator {
	margin: 1px 3px;
	height: 6px;
	width: 6px;
	border-radius: 3px;
	background: #fff;
	background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
	filter: Alpha(opacity=40);
	box-shadow: none;
}

.mui-slider-indicator .mui-active.mui-indicator {
	background: #FF9934;
}

.mui-bar-tab .mui-tab-item.active {
	color: #EC971F;
}

.active .mui-tab-label {
	color: #FF9934;
}

.padding20 {
	padding: 15px 20px;
}

.padding-left-20 {
	padding-left: 20px;
}

.margin-left-20 {
	margin-left: 20px;
}

.price {
	color: #EE7942;
	font-weight: 700;
	font-size: 16px;
}

.color1 {
	color: #AAAAAA;
}

.color2 {
	color: #FF9934;
}

.color3 {
	color: #F82639;
}

.col-white {
	color: white !important;
}

.bg-white {
	background: white !important;
}

.bg-gray {
	background: #BBB !important;
}

.bg-yellow {
	background: #FF9934 !important;
}

.font12 {
	font-size: 12px !important;
}

.font14 {
	font-size: 14px !important;
}

.font16 {
	font-size: 16px !important;
}

.font20 {
	font-size: 20px !important;
}

.font22 {
	font-size: 22px !important;
}

.font24 {
	font-size: 24px !important;
}

.font28 {
	font-size: 28px !important;
}

.font34 {
	font-size: 34px !important;
}

.hemantang {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 80px;
	margin-left: auto;
	margin-right: auto;
}

.hemantang img {
	width: 70px;
	height: 70px;
}
